DEV=true

GH_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GH_USERNAME=xxxxxxxxx
REPO=xxxxxxx
BRANCH=xxxxxxx
POSTS_MD_DIR=content/posts
POSTS_PUBLIC_DIR=public

CLOUDFLARE_IMAGES_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
